<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dibble.Framework.Data.Core" version="1.0.18.0" targetFramework="net46" />
  <package id="FluentValidation-Signed" version="5.6.2.0" targetFramework="net46" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net46" />
</packages>